[credential]
	helper = store
[user]
	name = Kevin Romero Peces-Barba
	email = kevinrpb@hotmail.com
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = /Applications/Komet.app/Contents/MacOS/Komet
